.produk{
align-items: center;
/* position: fixed; */
  width: 90pc;
  /* height: 400px; */
  padding:10%;
  /* position:absolute; */
  /* top: auto ; */
  /* left: 2%; */
  margin-top:0vmin;
  margin-left: 0px; 
}

