.banner{
    /* width: px;
    height: px; */
    /* padding: 3%;
    position: absolute;
    top: 25%;
    left: 0%;
    bottom: 20px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 1000px;
   */
}
